{% extends 'frontend/base/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block page_content %}
    <style>
        input[type=checkbox], input[type=radio] {
            width: auto;
        }

        .pdt-40 {
            padding-top: 40px;
        }
    </style>
    <style>
        .modal-confirm {
            color: #434e65;
            width: 525px;
        }

        .modal-confirm .modal-content {
            padding: 20px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
        }

        .modal-confirm .modal-header {
            background: #47c9a2;
            border-bottom: none;
            position: relative;
            text-align: center;
            margin: -20px -20px 0;
            border-radius: 5px 5px 0 0;
            padding: 35px;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 36px;
            margin: 10px 0;
        }

        .modal-confirm .form-control, .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .modal-confirm .close {
            position: absolute;
            top: 15px;
            right: 15px;
            color: #fff;
            text-shadow: none;
            opacity: 0.5;
        }

        .modal-confirm .close:hover {
            opacity: 0.8;
        }

        .modal-confirm .icon-box {
            color: #fff;
            width: 95px;
            height: 95px;
            display: inline-block;
            border-radius: 50%;
            z-index: 9;
            border: 5px solid #fff;
            padding: 15px;
            text-align: center;
        }

        .modal-confirm .icon-box i {
            font-size: 64px;
            margin: -4px 0 0 -4px;
        }

        .modal-confirm.modal-dialog {
            margin-top: 80px;
        }

        .modal-confirm .btn, .modal-confirm .btn:active {
            color: #fff;
            border-radius: 4px;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border-radius: 30px;
            margin-top: 10px;
            padding: 6px 20px;
            border: none;
        }

        .modal-confirm .btn:hover, .modal-confirm .btn:focus {
            outline: none;
        }

        .modal-confirm .btn span {
            margin: 1px 3px 0;
            float: left;
        }

        .modal-confirm .btn i {
            margin-left: 1px;
            font-size: 20px;
            float: right;
        }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>
    <br/>
    <!-- Modal HTML -->
    <div id="success_modal" data-backdrop="static" data-keyboard="false" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div>
                        <div class="icon-box">
                            <i class="material-icons">&#xE876;</i>
                        </div>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <h4 class="text-success">Success !!!</h4>
                    <p>Your Hospital details has been added successfully.</p>
                    <a href="{% url 'frontend:index' %}" class="btn btn-success"><span>Go to Home</span> <i
                            class="material-icons">&#xE5C8;</i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="container">
        <form action="{% url 'frontend:add_hospital' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <h3 class="alert alert-info">Add Hospital Details</h3>
                </div>
                <div class="col-md-3">
                    <label>Contact Number</label>
                    <div class="form-group">
                        {#                        <input class="form-control" required type="number" placeholder="Enter your Contact Details.">#}
                        {{ forms.contact_info }}
                    </div>
                    {% if errors.contact_info %}<span class="text-danger">{{ errors.contact_info }}</span>{% endif %}

                </div>
                <div class="col-md-3">
                    <label>Hospital Name</label>
                    <div class="form-group">
                        {#                        <input class="form-control" required type="text" placeholder="Enter Hospital Name">#}
                        {{ forms.hospital_name }}
                    </div>
                    {% if errors.hospital_name %}<span class="text-danger">{{ errors.hospital_name }}</span>{% endif %}
                </div>
                <div class="col-md-3">
                    <label>State</label>
                    <div class="form-group">
                        {{ forms.state }}
                    </div>
                    {% if errors.state %}<span class="text-danger">{{ errors.state }}</span>{% endif %}

                </div>
                <div class="col-md-3">
                    <label>City</label>
                    <div class="form-group">
                        {#                        <input type="text" class="form-control" placeholder="Enter City.">#}
                        {{ forms.city }}

                    </div>
                    {% if errors.city %}<span class="text-danger">{{ errors.city }}</span>{% endif %}
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="id_total_beds">Total Beds Capacity</label>
                        {#                        <input type="number" class="form-control" placeholder="number of beds.">#}
                        {{ forms.total_beds }}
                    </div>
                    {% if errors.total_beds %}<span class="text-danger">{{ errors.total_beds }}</span>{% endif %}
                </div>
                <div class="col-md-3">
                    <div class="form-group pdt-40">
                        {#                        <input id="oxygen_available" type="checkbox" style="width: auto">#}
                        {{ forms.oxygen_availability }}
                        <label for="id_oxygen_availability">Oxygen Available</label>
                    </div>
                    {% if errors.oxygen_availability %}
                        <span class="text-danger">{{ errors.oxygen_availability }}</span>{% endif %}

                </div>
                <div class="col-md-3">
                    <div class="form-group pdt-40">
                        {#                        <input id="ventilator_available" type="checkbox" style="width: auto">#}
                        {{ forms.ventilator_availability }}
                        <label for="ventilator_available">Ventilator Available</label>
                    </div>
                    {% if errors.ventilator_availability %}
                        <span class="text-danger">{{ errors.ventilator_availability }}</span>{% endif %}

                </div>
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-dark btn-lg" value="Submit">
                </div>
            </div>
        </form>
    </section>
{% endblock %}
{% block extra_script %}
    <script>
        var success = '{{ success }}';
        $(document).ready(function () {
            if (success === 'true') {
                $('#success_modal').modal({show: true});
            }
        });
    </script>
{% endblock %}