    {% extends 'frontend/base/base.html' %}
{% load static %}
{% block extra_css %}
    <style>
        .banner-section .banner-wrapper .banner-content a:last-child{
            margin-left: 20px;
        }
    </style>
{% endblock %}
{% block page_content %}
    <!-- ==========Banner Section Start Here========== -->
    <section class="banner-section" style="background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0.3)), url({% static 'assets/images/banner/1.jpg' %});
    background-size: cover;">
        <div class="container">
            <div class="banner-wrapper">
                <div class="banner-content">
                    <h2 class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".1s">Let's be a</h2>
                    <h1 class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".1s"><b>Helping
                            Hand</b> To Help Someone In Need...</h1>
                     <a href="{% url 'frontend:want_help' %}" class="lab-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <span>Want to help</span>
                    </a>
                    <a href="{% url 'frontend:medical_list' %}" class="lab-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <span> Seeking for help</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Banner Section Ends Here========== -->


    {% endblock %}