{% extends 'frontend/base/base.html' %}
{% load static %}
{% block extra_css %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        input[type=checkbox], input[type=radio] {
            width: auto;
        }
    </style>
      <style>
        .modal-confirm {
            color: #434e65;
            width: 525px;
        }

        .modal-confirm .modal-content {
            padding: 20px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
        }

        .modal-confirm .modal-header {
            background: #47c9a2;
            border-bottom: none;
            position: relative;
            text-align: center;
            margin: -20px -20px 0;
            border-radius: 5px 5px 0 0;
            padding: 35px;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 36px;
            margin: 10px 0;
        }

        .modal-confirm .form-control, .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .modal-confirm .close {
            position: absolute;
            top: 15px;
            right: 15px;
            color: #fff;
            text-shadow: none;
            opacity: 0.5;
        }

        .modal-confirm .close:hover {
            opacity: 0.8;
        }

        .modal-confirm .icon-box {
            color: #fff;
            width: 95px;
            height: 95px;
            display: inline-block;
            border-radius: 50%;
            z-index: 9;
            border: 5px solid #fff;
            padding: 15px;
            text-align: center;
        }

        .modal-confirm .icon-box i {
            font-size: 64px;
            margin: -4px 0 0 -4px;
        }

        .modal-confirm.modal-dialog {
            margin-top: 80px;
        }

        .modal-confirm .btn, .modal-confirm .btn:active {
            color: #fff;
            border-radius: 4px;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border-radius: 30px;
            margin-top: 10px;
            padding: 6px 20px;
            border: none;
        }

        .modal-confirm .btn:hover, .modal-confirm .btn:focus {
            outline: none;
        }

        .modal-confirm .btn span {
            margin: 1px 3px 0;
            float: left;
        }

        .modal-confirm .btn i {
            margin-left: 1px;
            font-size: 20px;
            float: right;
        }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>
{% endblock %}
{% block page_content %}
    <br/>
        <!-- Modal HTML -->
    <div id="success_modal" data-backdrop="static" data-keyboard="false" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div>
                        <div class="icon-box">
                            <i class="material-icons">&#xE876;</i>
                        </div>
                    </div>
                </div>
                <div class="modal-body text-center">
                    <h4 class="text-success">Success !!!</h4>
                    <p>Thank you for help.</p>
                    <a href="{% url 'frontend:index' %}" class="btn btn-success"><span>Go to Home</span> <i
                            class="material-icons">&#xE5C8;</i></a>
                </div>
            </div>
        </div>
    </div>

    <section class="container">
        <form method="post" action="{% url 'frontend:want_help' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <h3 class="alert alert-info">Add Details</h3>
                </div>
                <div class="col-md-4">
                    <label>First Name/ Organization</label>
                    <div class="form-group">
                        {{ forms.first_name }}
                        {% if  errors.first_name %}<p class="text-danger">{{ errors.first_name }}{% endif %}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Last Name</label>
                    <div class="form-group">
                        {{ forms.last_name }}
                        {% if  errors.last_name %}<p  class="text-danger">{{ errors.last_name }}{% endif %}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Email</label>
                    <div class="form-group">
                        {{ forms.email }}
                        {% if  errors.email %}<p class="text-danger">{{ errors.email }}{% endif %}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Phone</label>
                    <div class="form-group">
                        {{ forms.phone }}
                        {% if  errors.phone %}<p class="text-danger">{{ errors.phone }}{% endif %}</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <label>State</label>
                    <div class="form-group">
                        {{ forms.state }}
                        {% if  errors.state %}<p class="text-danger">{{ errors.state }}{% endif %}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>City / PAN</label>
                    <div class="form-group">
                        {{ forms.city }}
                        {% if  errors.city %}<p class="text-danger">{{ errors.city }}{% endif %}</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="text-primary">Please select One or the more from </label>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        {{ forms.oxygen_cylinder_supplier }}
                        <label for="id_oxygen_cylinder_supplier">Oxygen Cylinder</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ forms.plasma_donor }}
                        <label for="id_plasma_donor">Plasma Donor</label>
                    </div>
                    <div class="border-info border p-2" id="plasmadoner_body">
                        <div class="form-group">
                            <label>Blood Group</label>
                            {{ forms.blood_group }}
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ forms.medical_supplier }}
                        <label for="id_medical_supplier">Medical Supply</label>
                    </div>
                    <div class="border-info border p-2" id="madical_supply_body">
                        <div class="form-group">
                            {{ forms.remdisivr }}
                            <label for="id_remdisivr">Remdisvir</label>
                        </div>
                        <div class="form-group">
                            {{ forms.toclizumab }}
                            <label for="id_toclizumab">Tocilizumab</label>
                        </div>
                        <div class="form-group">
                            <input id="other" type="checkbox" style="width: auto;">
                            <label for="other">Other</label>
                            <div id="other_medical_body">
                                {{ forms.specify_other }}
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ forms.medical_support }}
                        <label for="id_medical_support">Medical Help</label>
                    </div>
                    <div class="border-info border p-2 " id="medical_help_body">

                        <div class="form-group">
                            {{ forms.doctor }}
                            <label for="id_doctor">Doctor</label>
                        </div>
                        <div class="form-group">
                            {{ forms.health_care_worker }}
                            <label for="id_health_care_worker">HealthCare Worker</label>
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="col-md-12">
                    <label>Additional Details</label>
                    {{ forms.additional_details }}
                </div>
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-dark btn-lg" value="Submit">
                </div>
            </div>
        </form>
    </section>
{% endblock %}
{% block extra_script %}
    <script>
        $(function () {
            $("#plasmadoner_body").hide();
            $("#madical_supply_body").hide();
            $("#other_medical_body").hide();
            $("#medical_help_body").hide();

            $("#id_plasma_donor").click(function () {
                if ($(this).is(":checked")) {
                    $("#plasmadoner_body").show();
                } else {
                    $("#id_blood_group").val("");
                    $("#plasmadoner_body").hide();
                }
            });

            $("#id_medical_supplier").click(function () {
                if ($(this).is(":checked")) {
                    $("#madical_supply_body").show();
                } else {
                    $('#id_remdisivr').prop('checked', false);
                    $('#id_toclizumab').prop('checked', false);
                    $('#other').prop('checked', false);
                    $("#id_specify_other").val("");
                    $("#madical_supply_body").hide();
                    $("#other_medical_body").hide();
                }
            });
            $("#other").click(function () {
                if ($(this).is(":checked")) {
                    $("#other_medical_body").show();
                } else {
                    $("#id_specify_other").val("");
                    $("#other_medical_body").hide();
                }
            });
            $("#id_medical_support").click(function () {
                if ($(this).is(":checked")) {
                    $("#medical_help_body").show();
                } else {
                    $('#id_id_doctor').prop('checked', false);
                    $('#id_health_care_worker').prop('checked', false);
                    $("#medical_help_body").hide();
                }
            });

        });
    </script>
    <script>
        var success = '{{ success }}';
        $(document).ready(function () {
            if (success === 'true') {
                $('#success_modal').modal({show: true});
            }
        });
    </script>
{% endblock %}